{% extends "base.html" %}
{% block content %}

<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Detalles del Evento <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event.nombre }}</h3>
            </div>
            <div class="panel-body">
                <p><strong>Organizador:</strong> {{ event.organizador }}</p>
                <p><strong>Fecha y Hora:</strong> {{ event.timestamp.strftime('%d-%m-%Y %H:%M') }}</p>
                <p><strong>Lugar:</strong> {{ event.lugar }}</p>
                {% if event.imagen %}
                    <div>
                        <img src="{{ event.imagen }}" alt="Imagen del evento" class="img-responsive">
                    </div>
                    <br/>
                {% else %}
                    <p>No hay imagen disponible.</p>
                {% endif %}
                
                <!-- Map Container -->
                {% if event.lat and event.lon %}
                    <div class="map" data-lat="{{ event.lat }}" data-lng="{{ event.lon }}" id="map" style="width: 100%; height: 400px;"></div>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-default" href="{{ url_for('home') }}">Volver</a>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- Initialize Leaflet Maps -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".map").forEach((mapElement) => {
        const lat = parseFloat(mapElement.getAttribute("data-lat"));
        const lng = parseFloat(mapElement.getAttribute("data-lng"));

        // Validate coordinates
        if (isNaN(lat) || isNaN(lng)) {
          console.warn(
            `Latitud o longitud inválida para el mapa: ${mapElement.id}`
          );
          return;
        }

        // Initialize map
        const mapId = mapElement.id;
        const map = L.map(mapId).setView([lat, lng], 13);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
        }).addTo(map);

        // Add marker
        L.marker([lat, lng]).addTo(map);
      });
    });
</script>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

{% endblock content %}
