{% extends "base.html" %}
{% block content %}

<!-- Include Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin=""/>

<!-- Include Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        crossorigin=""></script>

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Eventual<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>

<!-- Address Input Form -->
<form method="POST" action="/">
    <div class="form-group">
        <label for="address">Ingrese una dirección postal:</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Ejemplo: Calle Falsa 123">
    </div>
    <button type="submit" class="btn btn-primary">Buscar Eventos</button>
</form>
<br/>

{% if session.get('user') %}
    <a class="btn btn-primary" href="/new">
        Crear evento
        <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </a>
{% endif %}
<br/>
<br/>

{% if events|count > 0 %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
            <thead>
                <th>Nombre</th>
                <th>Organizador</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.nombre }}</td>
                    <td>{{ event.organizador }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ url_for('event_details', _id=event._id) }}">Detalles</a>
                        {% if session.get('user') and session['user'].get('email') == event.organizador %}
                            <a class="btn btn-warning" href="{{ url_for('editEvent', _id=event._id) }}">Editar</a>
                            <a class="btn btn-danger" href="{{ url_for('deleteEvent', _id=event._id) }}">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% else %}
    <p>No hay eventos próximos disponibles.</p>
{% endif %}

{% endblock %}
